---
import TitlePage from "../components/common/Title-page.astro";
import MainLayout from "../layouts/Main-layout.astro";
---

<MainLayout>
    <TitlePage title="no encontrado" />
    <div class="h-96 flex justify-center items-center flex-col gap-2">
        <p>Página no encontrada</p>
        <p>Volver al <a href="/">Inicio</a></p>
    </div>
</MainLayout>