---
import TitlePage from "../components/common/Title-page.astro";
import MainLayout from "../layouts/Main-layout.astro";
---

<MainLayout>
  <TitlePage title="no encontrado" />
  <div class="h-96 flex justify-center items-center flex-col gap-2">
    <p data-reveal="fade-up">Página no encontrada</p>
    <p data-reveal="fade-up" data-reveal-delay="120">
      Volver al <a href="/">Inicio</a>
    </p>
  </div>
</MainLayout>
