---
import MainLayout from "../layouts/Main-layout.astro";
import TitlePage from "../components/common/Title-page.astro";
import Description from "../components/about-us/Description.astro";
import Values from "../components/about-us/Values.astro";
import Professionals from "../components/about-us/Professionals.astro";
import Invitation from "../components/about-us/Invitation.astro";
---

<MainLayout>
  <TitlePage title="sobre nosotros" />
  <div
    class="md:max-w-[768px] lg:max-w-[50rem] xl:max-w-[60rem] 2xl:max-w-[65rem] md:flex md:flex-col md:justify-self-center"
  >
    <Description />
    <Values />
    <Professionals />
    <Invitation />
  </div>
</MainLayout>
