---
import MainButton from "./Main-button.astro";

const span = "font-bold text-black text-[#131C27]";
---

<section class="h-[30rem] flex flex-col items-center justify-center gap-7 px-5">
  <h1 class="font-oswald text-[1.8rem] text-[#35796F]">
    Energía que Inspira Confianza
  </h1>

  <p class="text-center text-[.9rem] leading-[1.6rem]">
    En <span class={span}>SITEC</span> ofrecemos soluciones eléctricas integrales
    a medida. Nos encargamos de la planificación y ejecución de proyectos eléctricos
    y electromecánicos, priorizando <span class={span}>eficiencia</span>, <span
      class={span}>seguridad</span
    > y <span class={span}>cumplimiento normativo.</span>
    <br />
    <br /> Con un equipo experimentado y tecnología de vanguardia, garantizamos instalaciones
    confiables y resultados que superan expectativas
  </p>

  <MainButton text="ver más" URL="/about-us" />
</section>
