---
import texture from "../../assets/images/textura.png";
import Rocket from "../../assets/icons/rocket.svg";
import SectionTitle from "../common/Section-title.astro";
import { shortFlow } from "../../data/design-flow.js";
import DesignCard from "./Design-card.astro";
---

<section
  class="mt-3 py-10 2xl:py-14 lg:pb-20 2xl:pb-28 px-2 bg-cover md:flex md:flex-col md:items-center"
  style={`background-image: url('${texture.src}')`}
>
  <SectionTitle
    label="Diseño de Proyectos"
    subtitle="Transformando ideas en soluciones eléctricas confiables y eficientes"
    color="white"
    hasIcon={true}
  >
    <Rocket slot="icon" />
  </SectionTitle>

  <div
    class="grid
          grid-cols-2
          lg:grid-cols-4
          grid-rows-2
          lg:grid-rows-1
          gap-y-6
          md:gap-x-16
          lg:gap-x-2
          mt-8
          md:mt-10
          px-5
          lg:px-0
          md:max-w-[43.75rem]
          lg:max-w-[50rem]
          xl:max-w-[60rem]
          2xl:max-w-[65rem]
          xl:w-[60rem]
          2xl:w-[65rem]
          xl:py-2"
  >
    {
      shortFlow.map((item) => (
        <DesignCard description={item.title} icon={item.icon} />
      ))
    }
  </div>
</section>
