---
const { question, answer, id } = Astro.props;
import DownArrow from "../../assets/icons/down-arrow.svg";
import LightBulb from "../../assets/icons/light.svg";
---

<details
  class="group border border-[#35796F] rounded-sm shadow-md bg-white transition-all md:w-[42.5rem] lg:w-[36rem] xl:w-[40rem] 2xl:w-[45rem]"
>
  <summary
    class="flex items-center justify-between cursor-pointer px-5 py-4 lg:py-2 xl:py-3 2xl:py-2 text-[.9rem] lg:text-[.75rem] font-medium list-none"
  >
    <LightBulb class="hidden h-6 w-6 xl:block"/>
    <span>{question}</span>
    <DownArrow
      class="h-4 w-4 text-[#35796F] transition-transform duration-300 group-open:rotate-180"
    />
  </summary>

  <div class="px-5 pb-4 pt-4 text-sm lg:text-[.75rem] text-gray-600 border-t">
    {answer}
  </div>
</details>
