---
import hero from "../../assets/images/f5d41eb7-25c9-48a8-8e4f-95947947fa13.png";
import Wallet from "../../assets/icons/wallet.svg";
const phone = "5492281378525";
const text =
  "Buen día, quisiera solicitar un presupuesto para la instalación de paneles eléctricos en mi empresa. Muchas gracias.";
const encoded = encodeURIComponent(text);
---

<section
  class="h-[26rem] lg:h-[22rem] xl:h-[26rem] 2xl:h-[28rem] relative flex items-center justify-center bg-cover bg-center flex-col gap-8 lg:gap-7 xl:gap-8"
  style={`background-image: url('${hero.src}');`}
>
  <div class="absolute inset-0 bg-gradient-to-b from-black/60 via-black/45 to-black/70"></div>

  <!-- Mobile hero title -->
  <div class="px-7 py-6 border border-white/70 z-10 rounded-2xl backdrop-blur-[2px] bg-white/5 lg:hidden">
    <h1
      class="relative text-white text-3xl tracking-[0.02em] font-[400] z-10 flex text-center font-oswald max-w-[20ch] leading-[2.4rem]"
    >
      SOLUCIONES ELÉCTRICAS E INDUSTRIALES
    </h1>
  </div>

  <!-- Desktop hero title -->
  <div class="z-10 hidden pt-12 lg:block">
    <h1
      class="w-[35ch] relative text-white text-3xl xl:text-[2rem] 2xl:text-[2.4rem] font-[400] z-10 flex text-center font-oswald leading-[2.6rem] xl:leading-[2.8rem] 2xl:leading-[3.2rem] tracking-[.04em] xl:tracking-[.05em]"
    >
      Soluciones eléctricas integrales y montajes industriales
    </h1>
  </div>

  <a
    href={`https://wa.me/${phone}?text=${encoded}`}
    target="blank"
    class="bg-cta-gradient relative cursor-pointer z-10 text-sm lg:text-xs xl:text-sm h-12 lg:h-11 xl:h-12 2xl:h-[3.25rem] w-56 lg:w-52 xl:w-56 2xl:w-60 flex items-center justify-center gap-2 2xl:gap-3 rounded-full shadow-elevated text-white font-oswald font-medium lg:font-normal tracking-wider transition-transform duration-200 hover:scale-[1.03]"
  >
    <Wallet class="hidden 2xl:inline w-5 h-5" /> SOLICITAR PRESUPUESTO
  </a>
</section>
