---
import SectionTitle from "../common/Section-title.astro";
import { information } from "../../data/contact.js";
import InfoCard from "./Info-card.astro";
---

<section class="px-4">
  <div class="pt-7 pb-5">
    <SectionTitle label="Datos de Contacto" />
  </div>

  <div class="grid grid-cols-2 gap-y-6 gap-x-8 pl-[4%]">
    {
      information.map((item) => (
        <InfoCard
          title={item.title}
          firstLine={item.firstLine}
          secondLine={item.secondLine}
          icon={item.icon}
        />
      ))
    }
  </div>
</section>
