---
import SectionTitle from "../common/Section-title.astro";
---

<section class="px-4 mt-4 lg:mt-0 lg:p-0 mb-16 lg:my-auto">
  <div class="py-6 lg:py-2 lg:pb-5 2xl:pb-7 lg:flex">
    <!-- <SectionTitle label="Nuestra Ubicación" /> -->
    <div class=`flex flex-col justify-center items-center gap-2 `>
      <div class="flex gap-2 justify-center items-center">
        <h1
          class=`text-2xl 2xl:text-[1.7rem] font-oswald font-normal text-[#35796F]`
        >
          Nuestra Ubicación
        </h1>
      </div>
    </div>
  </div>

  <div class="p-1 border border-[#35796F]">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2970.0842240884394!2d-59.13509497322635!3d-37.32413918300657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95911f93daea5fe1%3A0xda7b6e305410762d!2sSan%20Mart%C3%ADn%20912%2C%20B7000%20Tandil%2C%20Provincia%20de%20Buenos%20Aires!5e1!3m2!1sen!2sar!4v1760216332801!5m2!1sen!2sar"
      height="450"
      style="border:0;"
      class="w-full lg:h-[12rem] xl:h-[14.7rem] 2xl:h-[16.5rem]"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>
