---
import WhatsappLogo from "../../assets/icons/whatsapp.png";
---

<section
  class="bg-[#344147d7] h-[36rem] text-white flex flex-col items-center text-center gap-12 font-oswald pt-14"
>
  <div class="flex flex-col gap-2">
    <h1 class="text-[1.4rem]">Horarios de atención</h1>
    <p class="text-[1.05rem] font-light">Lunes a viernes de 8:00 a 17:00 hs.</p>
    <p class="text-[1.05rem] font-light">Sábados de 8:00 a 13:00 hs.</p>
  </div>

  <div class="flex flex-col gap-2">
    <h1 class="text-[1.4rem]">Medios de pago</h1>
    <p class="text-[1.05rem] font-light w-[22ch]">
      Aceptamos todos los medios de pago para tu comodidad
    </p>
  </div>

  <div class="flex flex-col items-center gap-6">
    <p class="text-center w-[34ch] leading-6">
      Escribinos tus consultas por WhatsApp y te responderemos a la brevedad.
    </p>
    <button
      class="flex items-center bg-white text-[#35796F] shadow-xl w-64 h-14 rounded-xl gap-3 justify-center"
      ><img src={WhatsappLogo.src} class="w-7 h-7" alt="whatsapp logo" /> CONTACTO
      POR WHATSAPP
    </button>
  </div>
</section>
