<section class="min-h-[20.5rem] px-5 flex flex-col pt-8 gap-6">
  <h1 class="text-2xl font-oswald font-[400] text-center text-[#35796F]">
    ¿Quiénes Somos?
  </h1>
  <p class="text-sm text-center leading-[1.5rem]">
    Somos una empresa con mas de 10 años de experiencia accusantium doloremque
    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis
    et quasi architecto beatae vitae dicta sunt explicabo. <br />
    <br /> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.
  </p>
</section>
