<section class="h-72 px-8 pb-8 flex flex-col justify-center items-center gap-2 font-oswald">
  <h1 class="text-[#35796F] text-xl font-semibold">¿Te gustaría que trabajemos juntos?</h1>
  <p>Solicita acá un presupuesto sin cargo</p>
  <button class="font-oswald bg-[#35796F] text-white shadow-md w-full h-11 mt-3 rounded-sm">SOLICITAR PRESUPUESTO</button>
</section>
