---
const phone = "5492281378525";
const text =
  "Buen día, quisiera solicitar un presupuesto para la instalación de paneles eléctricos en mi empresa. Muchas gracias.";
const encoded = encodeURIComponent(text);
---

<section
  class="h-72 lg:h-80 2xl:h-96 px-8 pb-8 flex flex-col justify-center items-center gap-2 font-oswald"
>
  <h1 class="text-[#35796F] text-xl font-semibold">
    ¿Te gustaría que trabajemos juntos?
  </h1>
  <p>Solicita acá un presupuesto sin cargo</p>
  <button
    class="font-oswald bg-[#35796F] shadow-md w-full lg:max-w-[25rem] h-11 mt-3 rounded-sm"
  >
    <a
      href={`https://wa.me/${phone}?text=${encoded}`}
      target="blank"
      class="w-full h-full flex justify-center items-center text-white"
    >
      SOLICITAR PRESUPUESTO
    </a>
  </button>
</section>
