---
const { component } = Astro.props;
---

<div class="flex flex-col items-center gap-4 2xl:w-[15.5rem]">
  <div
    class="h-36 md:h-28 2xl:h-32 w-36 md:w-28 2xl:w-32 border border-neutral-500 rounded-full flex items-center justify-center"
  >
    <img
      src={component.icon}
      alt={component.title}
      class="h-20 md:h-14 2xl:h-12 w-20 md:w-14 2xl:w-12"
    />
  </div>

  <div class="flex flex-col gap-2">
    <h3
      class="text-center text-lg md:text-base font-oswald text-primary-500 font-semibold"
    >
      {component.title}
    </h3>
    <p
      class="text-center text-sm md:text-xs 2xl:text-sm md:max-w-[40ch] 2xl:max-w-[30ch]"
    >
      {component.subtitle}
    </p>
  </div>
</div>
