---
import SectionTitle from "../common/Section-title.astro";
import ChooseIcon from "../../assets/icons/choose.svg";
import { skills } from "../../data/skills";
import SkillCard from "./Skill-card.astro";
---

<section class="flex flex-col px-8 md:mt-2">
  <SectionTitle label="¿Por qué elegirnos?" hasIcon={true}>
    <ChooseIcon slot="icon" class="w-6 h-6" />
  </SectionTitle>

  <div class="flex md:grid flex-col md:grid-cols-2 gap-4 xl:gap-y-2 2xl:gap-y-8 xl:gap-x-0 2xl:gap-x-7 py-10 2xl:max-w-[52rem] 2xl:mx-auto">
    {skills.map((skill) => <SkillCard skill={skill} />)}
  </div>
</section>
