---
import { longFlow } from "../../data/design-flow";
import StageCard from "./Stage-card.astro";
---

<section
  class="flex md:grid xl:flex flex-col xl:flex-row xl:justify-center xl:items-center md:grid-cols-2 gap-6 xl:gap-0 2xl:gap-8 py-12 xl:py-0 px-8 xl:p-0 xl:h-[19.5rem] 2xl:h-[21rem]"
>
  {longFlow.map((item) => <StageCard item={item} />)}
</section>
