---
import logo from "../../assets/Logo-sitec.jpg";
import close from "../../assets/icons/close.svg";
import menu from "../../assets/icons/menu.svg";
import MobileMenu from "./Mobile-menu.astro";
---

<header
  class="bg-white h-[4.5rem] flex items-center justify-between px-2 fixed z-20 shadow-md w-full top-0"
>
  <a href="/" class="h-full">
    <img src={logo.src} alt="Logo Sitec" class="h-full" />
  </a>

  <button id="burger" class="mr-2" aria-label="Abrir menú" data-open="false">
    <img src={menu.src} alt="Menú" class="h-8 w-8" />
  </button>

  <MobileMenu />
</header>
