---
const { label, subtitle, color, hasIcon = false } = Astro.props;
---

<div class=`flex flex-col justify-center items-center gap-2 text-[${color}]`>
  <div class="flex gap-2 justify-center items-center">
    {
      hasIcon && (
        <div class={`w-6 h-6 ${color === "white" ? "text-white" : "text-[#35796F]"}`}>
          <slot name="icon" />
        </div>
      )
    }

    <h1
      class=`text-2xl font-oswald font-normal ${color === "white" ? "text-white" : "text-[#35796F]"}`
    >
      {label}
    </h1>
  </div>
  <h2
    class=`text-center font-oswald max-w-[40ch] font-light ${color === "white" ? "text-white" : "text-[#282828]"}`
  >
    {subtitle}
  </h2>
</div>
