---
import FacebookIcon from "../../assets/icons/facebookv2.svg";
import InstagramIcon from "../../assets/icons/instagramv2.svg";
import LinkedinIcon from "../../assets/icons/linkedinv2.svg";
---

<div>
  <ul class="lg:flex gap-[.3rem]">
    <li>
      <a href="https://www.facebook.com" target="_blank">
        <img
          src={FacebookIcon.src}
          alt=""
          class="h-[1.1rem] w-[1.1rem] cursor-pointer hover:opacity-80 transition-all duration-300"
        />
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com" target="_blank">
        <img
          src={InstagramIcon.src}
          alt=""
          class="h-[1.1rem] w-[1.1rem] cursor-pointer hover:opacity-80 transition-all duration-300"
        />
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com" target="_blank">
        <img
          src={LinkedinIcon.src}
          alt=""
          class="h-[1.1rem] w-[1.1rem] cursor-pointer hover:opacity-80 transition-all duration-300"
        />
      </a>
    </li>
  </ul>
</div>
