---
import FacebookIcon from "../../assets/icons/facebookv2.svg";
import InstagramIcon from "../../assets/icons/instagramv2.svg";
import LinkedinIcon from "../../assets/icons/linkedinv2.svg";
---

<div class="hidden lg:flex gap-[.3rem] ">
  <img
    src={FacebookIcon.src}
    alt=""
    class="h-[1.1rem] w-[1.1rem] cursor-pointer hover:opacity-80 transition-all duration-300"
  />
  <img
    src={InstagramIcon.src}
    alt=""
    class="h-[1.1rem] w-[1.1rem] cursor-pointer hover:opacity-80 transition-all duration-300"
  />
  <img
    src={LinkedinIcon.src}
    alt=""
    class="h-[1.1rem] w-[1.1rem] cursor-pointer hover:opacity-80 transition-all duration-300"
  />
</div>
