---
const { title } = Astro.props;
import HeroImage from "../../assets/images/f5d41eb7-25c9-48a8-8e4f-95947947fa13.png";
---

<div
  class="w-full h-[14rem] bg-cover bg-center flex justify-center items-center relative shadow-xl"
  style={`background-image: url('${HeroImage.src}');`}
>
  <div class="absolute inset-0 bg-black/50"></div>
  <h1 class="text-4xl font-light tracking-[.1rem] text-white font-oswald z-10">
    {title.toUpperCase()}
  </h1>
</div>
