---
import texture from "../../assets/images/textura.png";
---

<nav
  class="bg-cover h-7 2xl:h-9 w-full fixed z-40 top-0 hidden justify-center lg:flex"
  style={`background-image: url('${texture.src}')`}
>
  <div class="flex text-white items-center justify-between w-[50rem] xl:w-[60rem] 2xl:w-[65rem] text-xs 2xl:text-sm">
    <p>Energía segura, proyectos confiables</p>
    <p>(2494) - 123456 / (2494) - 789987</p>
  </div>
</nav>
