---
import Footer from "../components/common/Footer.astro";
import Header from "../components/common/Header.astro";
import MidBar from "../components/common/Mid-bar.astro";
import TopBar from "../components/common/Top-bar.astro";
import WhatsappBtn from "../components/common/WhatsappBtn.astro";
import "../styles/globals.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Sitec - Montajes electricos</title>
  </head>
  <body>
    <div class="h-7 2xl:h-9 hidden lg:block"></div>
    <MidBar />
    <div class="h-[4.5rem] lg:hidden"></div>
    <TopBar class="hidden" />
    <Header />
    <slot />
    <WhatsappBtn />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
  }
</style>
